// Version
// Copyright (c) 2016-2023 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2023 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/Version.Application/Application.rh>
#include <XYO/Version.Application/Copyright.rh>
#include <XYO/Version.Application/Version.rh>

1  ICON "Application.ico"

XYO_APPLICATION_VERSION_INFO(XYO_VERSION_APPLICATION,"xyo-version.exe","XYO Version")
XYO_APPLICATION_MANIFEST("Application.manifest")
